html{
    font-size: 20px;
    font-family: "Exo 2",sans-serif;
    background-color: aqua;
}
h1{
    font-size: 60px;
    text-align: center;
    padding: 20px 0;
    color:blue;
    text-shadow: 3px 3px 1px purple;
}
p,li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
body{
    width: 600px;
    margin: 0 auto;
    background-color: aqua;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
img{
    display: block;
    margin:0 auto;
}